* {
    font-family: 'Montserrat', sans-serif;
  }

@font-face {
  font-family: "GTWalsheimMD";
  src: url(GTWalsheimPro-Medium.ttf) format('truetype');
}

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .record {
    height: 100%;
    width: 13%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(230, 230, 230);
    padding-top: 60px;
    align-content: center;
    margin-left: 4%;
    visibility: inherit;

  }

  @media screen and (max-width: 481px){

    table {
      overflow-y: auto;

    }


    .record {
      visibility: hidden;
      height: 5%;
      width: 100%;
      position: fixed;
      padding-top: 4%;
      bottom: 0;
      background-color: rgb(181, 236, 253);
      align-content: center;
      margin-left: 4%;
      overflow-y: auto;
    }


  
  
  }

.record a {
      margin: auto;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 3ch;
      margin-left: 4%;
      width: 100%;
     

  }
.record p {
    margin-left: 4%;

}

  table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
  }
  
  td {
    padding: 10px;
  }

  .number-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: 'GTWalsheimMD';
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    vertical-align: middle;
    padding: 3px;
  }
  
  .initials {
    width: 30px;
    font-weight: bold;
    font-size: 16px;
  }
  
       /* additional styles */
  .b {
    background-color: rgb(13,135,223);
  }
  
  .g {
    background-color: rgb(32,200,82);
  }
  
  .o {
    background-color: rgb(239,128,34);
  }
  
  .r {
    background-color: #E55D5B;
  }
  
  .w {
    background-color: #6d6d6d;
  }